$font-family-default: "Trebuchet MS", Helvetica, sans-serif;

.title {
    padding: 0.7em !important;
}

.subtitle {
    padding: 0.2em 0.5em !important;
}

.index {
    margin-top: 10%;
}

.des {
    font-family: $font-family-default;
}

.header {
    font-family: $font-family-default;
    font-size: 1.25em;
}

.modalImg {
    height: 40em;
    width: 28em;
}

.tag {
    margin: 0.25em 0;
}

.ic {
    margin: auto;
}

* { box-sizing: border-box; }
.bg {
  background-image: url('../assets/background.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
}
.verticalCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-background {
  background-color: rgba(0,0,0,0.75);
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
}
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}
